* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', serif;
}

a {
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-weight: 700;
    font-size: 14px;
}

h1 {
    color: rgb(43, 41, 40);
    font-size: 60px;
    line-height: 78px;
}

h2 {
    color: rgb(43, 41, 40);
    font-size: 36px;
    line-height: 46.8px;
}

h3 {
    color: rgb(136, 139, 143);
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
}

h4 {
    color: rgb(136, 139, 143);
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
}

h5 {
    color: rgb(43, 41, 40);
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

h6 {
    color: rgb(136, 139, 143);
    font-size: 14px;
    line-height: 19.6px;
    font-weight: 400;
}

button:hover {
    cursor: pointer;
    background-color: #b2cbe455;
}

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 5;
}

.brand {
    padding: 20px 20px 20px 40px;
    font-size: 20px;
    font-weight: 700;
    width: 92px;
}

.navbar-list {
    padding-top: 25px;
}

.navbar-list a {
    padding: 20px;
}

.home {
    display: flex;
    height: 100vh;
}

.home div {
    width: 50%;
}

.homeF {
    padding: 0 8.55%;
}

.homeF h1 {
    font-weight: 800;
    padding-top: 200px;
    padding-bottom: 60px;
}

.homeF h3 {
    padding-bottom: 60px;
}

.howItWorks {
    padding: 16px 68px;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: rgb(71, 135, 250);
    border: 1px solid rgb(71, 135, 250);
    border-radius: 20px;
    background-color: #fff;
}

.homeS {
    text-align: right;
    position: relative;
}

.homeS img {
    width: 652px;
    padding-top: 122px;
}

.hallow-circle {
    position: absolute;
    top: 9%;
    z-index: -1;
}

.hallow-circle svg {
    width: 652px;
}

.hallow-circle-red {
    position: absolute;
    top: 16%;
    right: 5%;
    z-index: -1;
}

.hallow-circle-small-blue {
    position: absolute;
    bottom: 5%;
    left: -75%;
}

.companyProfiles {
    margin-top: 200px;
    display: flex;
    height: 90vh;
    justify-content: left;
}

.ceo {
    margin-left: 55px;
    margin-top: 200px;
}

.relDiv {
    position: relative;
}

.hallow-circle-2-red {
    position: absolute;
}

.hallow-circle-2-blue {
    position: absolute;
    top: 20%;
    left: 15%;
}

.hallow-circle-2-blue-2 {
    position: absolute;
    right: 0;
    bottom: 20%;
}

.hallow-circle-2-blue-3 {
    position: absolute;
    left: 35%;
    bottom: 20%;
}

.hallow-circle-2-blue-4 {
    position: absolute;
    right: 10%;
}

.hallow-circle-3-blue {
    position: absolute;
    left: 5%;
    top: 10%;
}

.hallow-circle-3-blue-2 {
    position: absolute;
    z-index: -1;
    right: 12%;
    top: -5%;
}

.hallow-circle-3-blue-3 {
    position: absolute;
    right: 0;
    bottom: 30%;
}

.hallow-circle-3-violet {
    position: absolute;
    right: 15%;
    bottom: 20%;
}

.hallow-circle-3-violet-2 {
    position: absolute;
    left: -5%;
    bottom: 0;
}

.hallow-circle-4-pink {
    position: absolute;
    top: -25%;
}

.hallow-circle-4-blue {
    position: absolute;
    z-index: -1;
    left: 10%;
}

.hallow-circle-4-violet {
    position: absolute;
    bottom: 0;
    left: 5%;
}

.hallow-circle-4-blue-2 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.hallow-circle-4-blue-3 {
    position: absolute;
    right: 5%;
    top: -5%;
}

.commonHome {
    display: flex;
    /* height: 80vh; */
}

.commonS, .commonF {
    width: 50%;
}

.commonHomeText {
    padding: 20% 21%;
}

.companyLogos {
    margin: 100px 0 0 150px;
}

.companyLogos img {
    width: 150px;
}

.featuresHome {
    height: 90vh;
    text-align: center;
}

.fhSub {
    background-color: #f3f9ff;
    margin: 0 8.5%;
    height: 80vh;
    border-radius: 60px;
}

.fhSub h2 {
    padding-top: 50px;
}

.fhSub h4 {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

.cards {
    display: flex;
    margin-top: 100px;
}

.cards i {
    font-size: 50px;
    padding-bottom: 50px;
}

.cards div {
    margin: 0 auto;
    width: 20%;
}

footer {
    background-color: #90a6bc;
    padding: 40px 8%;
    color: #fff;
}

footer span {
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 40px;
}

footer a {
    color: #fff;
    margin-right: 30px;
}

.spanBlue {
    color: #4787fa;
}

.slidebean {
    text-align: center;
    padding: 25px 0 0 0;
    margin-top: 25px;
    border-top: 1px solid #acc2d6;
    color: #bccad3;
    font-weight: 800;
    font-size: 14px;
}

.socialMedia {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.social i {
    margin-left: 30px;
    font-size: 20px;
}

.socialMedia a:hover {
    color: #4787fa;
}

.social i:hover {
    color: #4787fa;
    cursor: pointer;
}

.fa-bolt {
    color: #ae92db;
}

.fa-pie-chart {
    color: #9de1e4;
}

.fa-slack {
    color: #ffb093;
}